@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); /*웹폰트 나눔고딕*/
*{
    font-family: "Nanum Gothic", sans-serif;
    --basic-br-color:#cdc8c8; /*기본 border 색깔 변수*/
    --basic-txt-color:#383838;/*기본 글자 색깔 변수*/ 
    
}

/*공통*/
body{
    padding:0px;
    margin:0px;
}
a{
    text-decoration: none;
    color:var(--basic-txt-color);
}
header{
    display:block;
    border-bottom:1px solid var(--basic-br-color);
    width:100%;
    height:10px;
    position:fixed;
    top:0;
    background-color:#ffffff;
    padding:20px 0px;
    font-size:0.8em;
}
header ul{
    display:block;
    margin:auto;
}

header li{
    list-style:none;
    display:inline-block;
    margin:0px 20px;
}

header strong{
    float:left;
    margin-left:50px;
    margin-right:70px;
}
header .btn{
    float:right;
    margin-right:30px;
    margin-top:-20px;
}

header li a:hover{
    text-decoration:overline;
    text-decoration-color: rgb(0, 153, 255);
}

footer{
    background: #383838;
    color:#c4c3c3;
    font-size:0.6em;
    padding:20px;
}
footer strong{
    font-weight: bold;
    font-size: 1.5em;
}
/*클래스*/
.btn{
    border:0.8px solid var(--basic-br-color);
    border-radius:5px; 
    padding:5px;
    background-color:#ffffff;
}
.btn:hover{
    background-color:#8a8888;
}

/*인덱스 페이지*/


