<!DOCTYPE html>
<html>
{% extends 'layout.html' %}
{% block layoutblock %}
<script>
        $(document).ready( function() {
        $("header").load("/header");
        });
    </script>
<section>
    <header></header>
    <br><br>
    <div style="pointer-events: none;">
    
        <table>
            <tr>
                <td>
                    <iframe src="/melon" width="400px" height="1030px" frameborder="0" scrolling="no"></iframe>
                </td>

                
                <td>
                    <iframe src="/gini" width="400px" height="1030px" frameborder="0" scrolling="no"></iframe>
                </td>


            </tr>

            <tr>
                <td>
                    <iframe src="/buks" width="400px" height="1030px" frameborder="0" scrolling="no"></iframe>
                </td>
    
                    
                <td>
                    <iframe src="/mnet" width="400px" height="1030px" frameborder="0" scrolling="no"></iframe>                 
                </td>
    
    
            </tr>
        </table>

            
       
    </div>
    <footer></footer>
</section>
{% endblock %}    
<script>
        $(document).ready( function() {
        $("footer").load("/footer");
        });
    </script>
</html>