{% extends 'layout.html' %}
{% block layoutblock %}

            <h2>({{ posts.id }}) {{ posts.title }}</h2>
            <p>{{ posts.created_at }}</p>
            <p>{{ posts.content }}</p>
            <a href="/community">Return community</a>
            <br><br>
            <form action="/community/comentcreate/{{posts.id}}"method="POST">
                {% csrf_token %}
                <div>
                    <label for="coment_content">coments</label>
                    <textarea name="coment_content" id="coment_content" cols="30" rows="1"></textarea>
                </div>
                <button type="submit">upload</button>
            </form>
            {% for coment in coments %}
            <div>
                <p>{{coment.content}}</p>
                <p>{{coment.created_at}}</p>
                <a href="/community/comentdelete/{{post.id}}/{{coment.id}}">delete</a>
            </div>
            {% endfor %}
            <footer></footer>
{%endblock%}
