{% extends 'layout.html' %}
{% block layoutblock %}

<section id="community"> 
  <a href="/community/new" class="btn">WRITE</a>
  <!--
    <a href="/community/edit/{{post.id}}" class="btn btn-secondary btn-lg enable" tabindex="-1" role="button" aria-disabled="true">Modify</a>
                <a href="/community/delete/{{post.id}}" class="btn btn-secondary btn-lg enable" tabindex="-1" role="button" aria-disabled="true">Delete</a>
  -->
    <div>
      {%if posts %}
        {% for post in page_posts %}
        <ul class="list">
          <li><a href="/community/show/{{post.id}}" class="small"></a>{{ post.id }}</li>
          <li><a href="/community/show/{{post.id}}">{{post.title}}</a></li>
          <li><i class="date">{{ post.author }} </i></li>
          <!--<li><a href="#" class="small">user_id</a></li>-->
          <li><i class="date">{{post.created_at}}</i></li>
        </ul>       
        {% endfor %}
      {%else%}
        <p>There isn't any post yet</p>
      {%endif%}
    </div>
    <ul class="paging">
        {%if page_posts.has_previous%}
          <li><a href="?page={{page_posts.previous_page_number}}">&lt;</a></li>
        {%endif%}
        {%for i in page_posts.paginator.page_range%}
          {% if i == page_posts.number%}
          <li><a href="?page={{page_posts.number}}" class="active">{{i}}</a></li>
          {%else%}
          <li><a href="?page={{page_posts.number}}">{{i}}</a></li>
          {%endif%}
       {%endfor%}

       {%if page_posts.has_next%}
       <li><a href="?page={{page_posts.next_page_number}}">&gt;</a></li> 
       {%endif%} 
    </ul> 
</section>
{% endblock %}