<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}"/>
    <!-- 1. Link to jQuery (1.8 or later), -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->
    <!-- fotorama.css & fotorama.js. -->
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
    <script src="{% static 'scripts/main.js' %}"></script>
    <title>popKorn</title>
</head>
<script>
                $(document).ready( function() {
                $("header").load("/header");
                });
            </script>
<body id="media">
              
    <header></header>
    <section>
        <article>
            <div class="media-title">
                    <a href="#" class="tag">BTS)</a>
                    BTS (방탄소년단) '작은 것들을 위한 시 (Boy With Luv) feat. Halsey' Official MV
                    <p>2019.05.20</p>
            </div>
            <iframe width="80%"
                    src="https://www.youtube.com/embed/XsX3ATc3FbA" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
            </iframe>
        </article>
        <article>
            <div class="media-title">
                    <a href="#" class="tag">BLACKPINK)</a>
                    BLACKPINK - 'Kill This Love' M/V
                    <p>2019.05.20</p>
            </div>
            <iframe width="80%"
                    src="https://www.youtube.com/embed/2S24-y0Ij3Y" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
            </iframe>
        </article>
        <article>
            <div class="media-title">
                    <a href="#" class="tag">TWICE)</a>
                    TWICE "FANCY" M/V
                    <p>2019.05.20</p>
            </div>
            <iframe width="80%"
                    src="https://www.youtube.com/embed/kOHB85vDuow" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
            </iframe>
        </article>
        <article>
            <div class="media-title">
                    <a href="#" class="tag">EXO)</a>
                    EXO 엑소 "Love Shot" MV
                    <p>2019.05.20</p>
            </div>
            <iframe width="80%"
                    src="https://www.youtube.com/embed/pSudEWBAYRE" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
            </iframe>
        </article>    
        <article>
            <div class="media-title">
                    <a href="#" class="tag">BTS)</a>
                    BTS (방탄소년단) 'IDOL' Official MV
                    <p>2019.05.20</p>
            </div>
            <iframe width="80%"
                    src="https://www.youtube.com/embed/pBuZEGYXA6E" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
            </iframe>
        </article>    
        <ul class="paging">
            <li><a href="#">&lt;</a></li>
            <li><a href="#" class="active">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&gt;</a></li>
        </ul>
    </section>
    <footer></footer>
</body>
<script>
                $(document).ready( function() {
                $("footer").load("/footer");
                });
              </script>
</html>