{% extends 'layout.html' %}
{% block layoutblock %}

<section id="media">
        <article>
            <div class="media-title">
                    <a href="#" class="tag">BTS)</a>
                    BTS (방탄소년단) '작은 것들을 위한 시 (Boy With Luv) feat. Halsey' Official MV
                    <p>2019.05.20</p>
            </div>
            <iframe width="80%"
                    src="https://www.youtube.com/embed/XsX3ATc3FbA" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
            </iframe>
        </article>
        <article>
            <div class="media-title">
                    <a href="#" class="tag">BLACKPINK)</a>
                    BLACKPINK - 'Kill This Love' M/V
                    <p>2019.05.20</p>
            </div>
            <iframe width="80%"
                    src="https://www.youtube.com/embed/2S24-y0Ij3Y" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
            </iframe>
        </article>
        <article>
            <div class="media-title">
                    <a href="#" class="tag">TWICE)</a>
                    TWICE "FANCY" M/V
                    <p>2019.05.20</p>
            </div>
            <iframe width="80%"
                    src="https://www.youtube.com/embed/kOHB85vDuow" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
            </iframe>
        </article>
        <article>
            <div class="media-title">
                    <a href="#" class="tag">EXO)</a>
                    EXO 엑소 "Love Shot" MV
                    <p>2019.05.20</p>
            </div>
            <iframe width="80%"
                    src="https://www.youtube.com/embed/pSudEWBAYRE" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
            </iframe>
        </article>    
        <article>
            <div class="media-title">
                    <a href="#" class="tag">BTS)</a>
                    BTS (방탄소년단) 'IDOL' Official MV
                    <p>2019.05.20</p>
            </div>
            <iframe width="80%"
                    src="https://www.youtube.com/embed/pBuZEGYXA6E" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
            </iframe>
        </article>    
        <ul class="paging">
            <li><a href="#">&lt;</a></li>
            <li><a href="#" class="active">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&gt;</a></li>
        </ul>
    </section>
{% endblock %}