{% extends 'layout.html' %}
{% block layoutblock %}
<section id="news"> 

  {% for i in data%}   
  <a href="{{i.link}}"> 
    <img src="{{i.src}}" alt="...">
    <div>
      <p>{{i.title}}</p> 
    </div> 
  </a> 
  {%endfor%}
  
  
    <!--  
    <article>
            <h1>Hot Issue</h1>
            <h1>May 21st</h1>
            
            <div class="card" style="width: 18rem;">
                    <img src="https://lh3.googleusercontent.com/IpOt9B_xBCatW8aBHP1cmRd1VtNoaaxmrI_BnkwU3QQMwihEzFVyPqp8FEJTnwEl5_2sZRDLyidErai1dYzrCaBtrLYPZ2zDqg=w1200-rw" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h2 class="card-title">The Beatles Museum In U.K. Officially Extends An Invite For BTS To Visit</h2>
                      <p class="card-text">The Beatles Museum In U.K. Officially Extends An Invite For BTS To Visit
                            They even offered a private tour and a special performance.</p>
                      
                    </div>
                    <a href="https://www.koreaboo.com/news/beatles-museum-uk-officially-extends-invite-bts-visit/" class="btn btn-primary">more specific</a>
                  </div>
                  </article>
                  <br>
                  <article>
                  <div class="card" style="width: 18rem;">
                    <img src="https://lh3.googleusercontent.com/kucmPoVhjRCoMap5ogg6tnJQelfO-W0FaGGpL0Vf6aKtu2cGvpFa2MKU_aLHLDQWzOqgLLtSoS99IRrLlMDpD192S8Dc2xgI=w1200-rw" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h2 class="card-title">BLACKPINK Paid Respects To The Victims Of The Tragedy In Manchester During Their Performance At The Manchester Arena</h2>
                      <p class="card-text">BLACKPINK did their part to ease the hearts of the victims.</p>
                      
                    </div>
                    <a href="https://www.koreaboo.com/news/blackpink-paid-respects-victims-tragedy-manchester-performance-manchester-arena/" class="btn btn-primary">more specific</a>
                  </div>
            </article>
                  <br>
                  <article>
                  <div class="card" style="width: 18rem;">
                    <img src="https://lh3.googleusercontent.com/m2NvflOpgnEG0VmvMNPpiWyZcbeaDlV2NsWvolIeGFE_LLERYgfNLjqW2AYJFmg6YrW8GfIj5p_AgheynHuYykWnrPWiM2C3=w1200-rw" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h2 class="card-title">The Empire State Building In New York Gets A Purple Makeover Thanks To BTS</h2>
                      <p class="card-text">New York purples BTS.</p>
                      
                    </div>
                    <a href="https://www.koreaboo.com/news/empire-state-building-new-york-gets-purple-makeover-thanks-bts/" class="btn btn-primary">more specific</a>
                  </div>
        </div>        
    </article>
            <br><br>
    <article>
            
            <div class="card mb-3">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">News title</h5>
                      <p class="card-text">News Subtitle</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
            </article>
            <article>
                  <div class="card mb-3">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">News title</h5>
                      <p class="card-text">News Subtitle</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
            </article>
            <article>
                  <div class="card mb-3">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">News title</h5>
                      <p class="card-text">News Subtitle</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
    </article> 
    -->
    </section>
 
{% endblock %}    