@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300&display=swap');

*{
    font-family: 'Alegreya Sans SC', sans-serif;
    --basic-br-color:#eeeeee; /*기본 border 색깔 변수*/
    --basic-txt-color:#383838;/*기본 글자 색깔 변수*/ 
}


/* 스크롤  */
body::-webkit-scrollbar{width: 10px;}
body::-webkit-scrollbar-track {background-color:#ffffff;}
body::-webkit-scrollbar-thumb {background-color:rgba(202, 201, 202, 0.692);border-radius: 10px;}
body::-webkit-scrollbar-thumb:hover {background: rgba(133, 133, 133, 0.603);}
body::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
display:none;}  


#chart::-webkit-scrollbar{width:5px;}
#chart::-webkit-scrollbar-track {background-color:#ffffff;}
#chart::-webkit-scrollbar-thumb {background-color:rgba(202, 201, 201, 0.692);border-radius: 10px;}
#chart::-webkit-scrollbar-thumb:hover {background: rgba(133, 133, 133, 0.603);}
#chart::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
display:none;}  

/*공통*/
body{
    padding:0px;
    margin:0px;   
}

ul{
    list-style:none;
}

a{
    text-decoration: none;
    color:var(--basic-txt-color);
}
 
header{
    z-index: 1000;
    display:block;
    border-bottom:1px solid var(--basic-br-color);
    width:100%;
    height:10px;
    position:fixed;
    top:0;
    background-color:#ffffff;
    padding:20px 0px;
    font-size:0.8em;
}

header ul{
    display:block;
    margin:auto;
}

header li{
    list-style:none;
    display:inline-block;
    margin:0px 20px;
}

header strong{
    float:left;
    margin-left:50px;
    margin-right:70px;
}
header .btn{
    float:right;
    margin-right:30px;
    margin-top:-20px;
}

/* 로그인 팝업 */
.bg{
    width:100%;
    height:100%; 
    z-index: 1001;
    position: fixed;
    top:0;
    background-color:rgba(12, 1, 73, 0.575); 
    display:none;
}
.pop_up{ 
    display:none;
    width:30%; 
    top:15%;
    left:35%;
    padding:10px;
    position:fixed;
    z-index: 1002;
    border-radius: 10px;
    background-color: #ffffff;
}
.pop_up a{  
    position: relative;
    display:block;
    float:right; 
    margin-right:15px;
    font-family: 'Darker Grotesque', sans-serif;
}
.pop_up_con{
    margin-top:50px;
    width:100%;
    padding-bottom:30px; 
}
.pop_up input {
    display:block;
    font-size: 1.1em;
    padding:10px;
    width:60%;
    margin:5px auto;
    border:1px solid #eeeeee;
    border-radius: 3px;
    font-family: 'Darker Grotesque', sans-serif;
}
.pop_up_con label{
    display:block;
    width:65%;  
    margin:auto;
    font-size:1em;
    font-family: 'Darker Grotesque', sans-serif;
}  
.pop_up_con label div{
    width:100%;
    font-size:inherit;
    font-family: inherit;
}

.pop_up_con label div a {
    float:right;
    right:-15px;
}
.pop_up_con input[type="submit"]{ 
    width:65%;
    color:#ffffff; 
    background-color:#5e52a1;
    margin:15px auto; 
}
.pop_up_con a{
    color: #5e52a1; 
    font-family: 'Darker Grotesque', sans-serif;
} 
.pop_up_f{
    width:100%; 
} 
.pop_up_f a{
    width:100%;
    display:block;
    text-align: center;
    text-indent: 15px;
}
.pop_up_con h2{
    color: #5e52a1;
    text-align:center;
    font-family: 'Darker Grotesque', sans-serif;
}
#sign_up{
    display:none;
} 
/*
header li a:hover{  
}
*/

footer{
    background: #383838;
    color:#c4c3c3;
    font-size:0.6em;
    padding:20px;
    clear:left; 
    overflow:hidden; 
}

footer strong{
    font-weight: bold;
    font-size: 1.5em;
}
section{
    display:block;
    margin-top:51px; 
}

/*클래스*/
.btn{
    border:0.8px solid var(--basic-br-color);
    border-radius:5px; 
    padding:5px 10px;
    background-color:#ffffff;
}
.btn:hover{
    background-color:#f1f1f1;
}

.media-title{
    font-size: 1em;
    position: relative;
    width:80%;
    margin:auto;
    color:#464646;
}
.media-title p{
    font-size: 0.8em;
    color:#8a8888;
}
.tag{
    font-weight: bold;
}
.paging{
    list-style-type: none;
    display: block;
    text-align: center;
}
.paging li{
    display:inline-block;
    margin-left:10px;
    color:#b9b7b7;
    font-size: 0.9em;
}
.active, .paging a:hover{
    color:#5e52a1; 
}

.small{
    font-size:0.7em;
    color: #888888;
}
/*인덱스 페이지*/

#index article{
    display: block;
    border-bottom: 1px solid var(--basic-br-color);  
    

}
#index article:nth-child(2),
#index article:nth-child(3){
    padding:30px;
} 
.fotorama div{
    height:100%;
}
.fotorama a{    
    z-index: 1;
    display:block;
    width:100%;
    padding:50px 30px; 
    background-color:rgba(12, 1, 73, 0.575); 
    color:#ffffff;
    text-align:center;
    font-size: 1.3em;
    font-weight: bold;
    position: absolute;
    bottom:0;
}
.fotorama a:hover{
    background-color:rgba(6, 1, 31, 0.575); 
}

#index article:nth-child(2){
    display:grid;
    grid-template-columns: 1fr 1fr; 
} 
#index ul{
    display:block;
    width:95%; 
}
#index li{
    padding:10px;
    border-bottom:1px solid #eeeeee;
}
#index li a{
    font-size:1.05em; 
    margin:auto 10px;
}
#index li a:hover{
    color:#5e52a1;
}
.list_no{
    font-size: 0.8em;
    font-weight:bold;
    float:left;
    font-style: normal;
    color:#5e52a1;
}
.date {
    font-size:0.8em;
    float:right;
    font-style: normal;
}
 .chart_container{
     border-right: 1px solid #eeeeee; 
 }
 .chart_container iframe{ 
     width:80%;
     margin-left:30px;
 }
 #index article:nth-child(2) div:nth-child(2){
     padding-left:30px; 
     pointer-events: none; 
 } 
 #index article:nth-child(2) div:nth-child(2) iframe{
     margin-left:30px;
 }
/* 미디어 페이지 */
#media article{
    display: block;
    border-bottom: 1px solid var(--basic-br-color);
    padding:10px;
}

#media iframe{
    display:block;
    margin:auto;
}

/*커뮤니티 페이지*/
#community section{
    padding:20px;
}
.list{
    clear:right;
    display:block;
    width:90%;
    margin:auto;
    list-style:none; 
    border-bottom: 1px solid #eeeeee;
}
.list li{
    display:inline-block;
}

.list li:nth-child(2){
    width:80%;
    margin-left:30px;
} 
.list li a{
    display: block;
    margin-bottom:15px;
}

#community .btn{
    background-color: #5e52a1;
    font-size: 0.8em;
    color: #ffffff;
    float:right;   
    margin-right:30px;
    margin-top:30px;
}
#community .btn:hover{
    background-color: #483f7a;

}
/* 차트 */

#chart { 
    overflow-x:scroll; 
}
#loader{
    width:10%;
    position:fixed;
    top:40%;
    right:45%;
}
#chart .a_wrap{
    width:200%;
}
#chart .a_wrap a{  
    width:400px;
    display:block;
    float:left;
    text-align:center; 
    font-weight:bold;
    color:#636363;
    margin:20px auto;
    font-family: 'Darker Grotesque', sans-serif;
}
#chart .ifr_wrap{   
    clear:left;  
    white-space:nowrap; 
    pointer-events: none; 
}

#chart .ifr_wrap iframe {    
    height:700px;   
    pointer-events: none; 
    border-right:1px solid #eeeeee;
}

 /* 뉴스 */
 #news{ 
     padding:30px 50px;
 }
 #news article{
     display:grid;
     grid-template-columns: 1fr 1fr; 
 }
 #news article img{
    width:100%; 
 } 