{% extends 'layout.html' %}
{% block layoutblock %}

<section id="community"> 
  {% if user.is_authenticated %} 
  <a href="/community/new" class="btn purple">WRITE</a>
  {%endif%}
  <!--
    <a href="/community/edit/{{post.id}}" class="btn btn-secondary btn-lg enable" tabindex="-1" role="button" aria-disabled="true">Modify</a>
                <a href="/community/delete/{{post.id}}" class="btn btn-secondary btn-lg enable" tabindex="-1" role="button" aria-disabled="true">Delete</a>
  -->
    <div>
      {%if posts %}
        {% for post in page_posts %}
        <a href="/community/show/{{post.id}}">
          <ul class="list">
            <li>{{ post.id }}</li>
            <li>{{post.title}}
              {% if post.postingcomment_set.count != 0 %}
              <i>{{post.postingcomment_set.count}}</i>
              {%endif%}
            </li>
            <li>
              <i class="date">{{ post.author }} </i><br/>
              <i class="date">{{post.created_at}}</i><br/>
              <i class="date">hits - {{post.post_hit}}</i>
            </li> 
          </ul>   
        </a>    
        {% endfor %}
      {%else%}
        <p>There isn't any post yet</p>
      {%endif%}
    </div>
    <ul class="paging">
        {%if page_posts.has_previous%}
          <li><a href="?page={{page_posts.previous_page_number}}">&lt;</a></li>
        {%endif%}
        {%for i in page_posts.paginator.page_range%}
          {% if i == page_posts.number%}
          <li><a href="?page={{page_posts.number}}" class="active">{{i}}</a></li>
          {%else%}
          <li><a href="?page={{page_posts.number}}">{{i}}</a></li>
          {%endif%}
       {%endfor%}

       {%if page_posts.has_next%}
       <li><a href="?page={{page_posts.next_page_number}}">&gt;</a></li> 
       {%endif%} 
    </ul> 
</section>
{% endblock %}