{% extends 'layout.html' %}
{% block layoutblock %}

            <h2>Title : ({{ posts.id }}) {{ posts.title }}</h2>
            <p>Created time : {{ posts.created_at }}</p>
            <h4>ID : {{ posts.author }}</h4>
            <br>
            <p>{{ posts.content | safe }}</p>
            <a href="/community">Return community</a>
            <br><br>

            <form action="/community/commentcreate/{{posts.id}}"method="POST">
                {% csrf_token %}
                <div>
                    <label for="comment_content">comments</label>
                    <textarea name="comment_content" id="comment_content" cols="30" rows="1"></textarea>
                </div>
                <button type="submit">upload comment</button>
            </form>
            {% for comment in comment %}
            <div>
                <p>{{comment.content}}</p>
                <p>{{comment.created_at}}</p>
                <a href="/community/commentdelete/{{posts.id}}/{{comment.id}}" class="comments">delete</a>
            </div>
            {% endfor %}

            <a href="/community/edit/{{posts.id}}">edit post</a>
            <a href="/community/delete/{{posts.id}}">delete post</a>
            <footer></footer>
{%endblock%}
