{% extends 'layout.html' %}
{% block layoutblock %}
<section id="community_detail">
    <ul>
        <li><a href="/community/show/{{posts.id}}">{{ posts.title }}</a></li>
        <li>
            <div>
                <a href="/community/edit/{{posts.id}}" class="btn">EDIT</a>
                <a href="/community/delete/{{posts.id}}" class="btn">DELETE</a>
            </div>
        </li>
    </ul>
    <ul>
        <li class="date">{{ posts.author }}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
        <li class="date">{{ posts.created_at }}</li>
        <li></li>
    </ul>
    <p>{{ posts.content | safe }}</p> 

    <form action="/community/commentcreate/{{posts.id}}"method="POST">
        {% csrf_token %} 
        <textarea name="comment_content" 
                  id="comment_content" 
                  cols="30" rows="5" 
                  placeholder="comment"
                  class="input_"></textarea>
        <input type="submit" class="btn input_" value="CONFIRM">
    </form>
    {% for comment in comment %}
    <div class="list"> 
        <div>
            <p class="date"><strong>{{comment.author}}</strong></p> 
            <p class="date">{{comment.created_at}}</p> 
        </div>
        <p>{{comment.content}}</p>
        <a href="/community/commentdelete/{{posts.id}}/{{comment.id}}">delete</a>
    </div>
    {% endfor %}

  </section>
{%endblock%}
